In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
data=pd.read_csv('DecisionTree.csv')
data.head()

  Result  Initial_Payment  Last_Payment  Credit_Score  House_no
0    yes              201         10018           250      3046
1    yes              205         10016           395      3044
2    yes              257         10129           109      3251
3    yes              246         10064           324      3137
4    yes              117         10115           496      3094

In [8]:
x=data.iloc[:,1:5]
x.head()

   Initial_Payment  Last_Payment  Credit_Score  House_no
0              201         10018           250      3046
1              205         10016           395      3044
2              257         10129           109      3251
3              246         10064           324      3137
4              117         10115           496      3094

In [9]:
y=data.iloc[:,0]
y.head()

0    yes
1    yes
2    yes
3    yes
4    yes
Name: Result, dtype: object

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
x_train

     Initial_Payment  Last_Payment  Credit_Score  House_no
77               216         10663           525      3628
139              197         10185           391      4682
995              413         14914           523      4683
907              208         14043           850      4325
853              214         14720           630      3573
..               ...           ...           ...       ...
957              100         14700           503      4625
619              451         13561           884      3042
918              312         13838           622      4726
190              170         11835           381      3339
412              478         10742           769      4901

[800 rows x 4 columns]

In [17]:
x_test

     Initial_Payment  Last_Payment  Credit_Score  House_no
994              301         14852           812      4564
362              433         11816           626      3754
95               421         10710           676      3374
416              208         11264           678      4768
268              478         10679           787      4256
..               ...           ...           ...       ...
834              386         13263           831      4523
846              211         13437           823      4626
279              128         11124           624      4408
153              329         10561           788      3848
951              332         13936           613      4982

[200 rows x 4 columns]

In [19]:
model=DecisionTreeClassifier()

In [21]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [23]:
model.score(x_test,y_test)

0.96

In [25]:
y_pred=model.predict(x_test)

In [27]:
accuracy=accuracy_score(y_pred,y_test)

In [28]:
accuracy

0.96